<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="w-full bg-zinc-900 min-h-screen p-10 text-white">
    <div class="w-full flex justify-end">
        <a class="bg-red-700 rounded-md px-3 py-2 inline-block mb-5 text-sm" href="/logout">Logout</a>
    </div>
    
    <h3 class="text-3xl"> <span class="font-light">Hello,</span> <%= user.name  %></h3>
    <h5 class="mb-5">You can create a new post.</h5>

    <form action="/post" method="post">
        <textarea placeholder="What's on your mind?" class="p-3 outline-none w-1/3 resize-none bg-transparent border-2 border-zinc-800 rounded-md" name="content"></textarea>
        <input type="submit" class="text-sm px-3 py-2 w-25 bg-blue-500 rounded-md block mt-2" value="Create New Post">
    </form>

    <div class="posts mt-20">
        <h3 class="text-zinc-400">Your posts.</h3>
        <div class="postcontainer mt-5">
            <% user.posts.reverse().forEach(function (post) { %>
                <div class="post w-1/3 p-4 mb-4 rounded-md border-[1px] border-zinc-700 bg-zinc-800">
                    <h4 class="text-blue-500 mb-2"><%= user.username  %></h4>
                    <p class="text-sm tracking-tight"><%= post.content  %></p>
                    <small class="mt-2 inline-block"> <%= post.likes.length  %> like </small>
                    <div class="btns flex gap-4 mt-1">
                        <a class="text-blue-500" href="/like/<%= post._id  %>">
                            <%= post.likes.indexOf(user._id) === -1 ? "Like" : "Unlike"  %>
                        </a>
                        <a class="text-zinc-500" href="/edit/<%= post._id  %>">edit</a>
                        <a class="text-red-500" href="/delete/<%= post._id %>">delete</a>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

  </div>
</body>
</html>